// colors

$LightBeige:#eceada;
$DarkBrown:#544540;
$DarkBrownOpacity:rgba(84, 69, 64, .9);
$Brown:#735e59;
$BrownOpacity:rgba(115, 94, 89, .7);

// fonts 

$MainFont: "Oswald",
sans-serif;
$TextFont: "DM Sans",
sans-serif;
$ThickFont: "Archivo Black",
sans-serif;

// font sizes 

$TitleSizeMobile: 2.5rem;
$ContentSizeMobile: 1.4rem;

$TitleSizeScreen: 6rem;
$ContentSizeScreen: 5rem;